// Update with your config settings.

module.exports = {

  development: {
    client: process.env.DB_DIALECT || 'postgresql',
    connection: {
      database: process.env.DB_NAME || 'shorter',
      user: process.env.DB_USERNAME || 'shorter',
      password: process.env.DB_PASSWORD || 'shorter'
    },
    pool: {
      min: 2,
      max: 10
    },
    migrations: {
      tableName: 'migrations'
    }
  },

  test: {
    client: process.env.DB_DIALECT || 'postgresql',
    connection: {
      database: process.env.DB_NAME || 'shorter',
      user: process.env.DB_USERNAME || 'shorter',
      password: process.env.DB_PASSWORD || 'shorter'
    },
    pool: {
      min: 2,
      max: 10
    },
    migrations: {
      tableName: 'migrations'
    }
  }
};
